/* Universal theme */
body {
    background-color: rgb(173, 218, 179);
    font-family: Helvetica;
    font-size: 25px;
    text-align: center;
}

/* Formatting the logo */
img.homepage-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 150px;
}

/* Formatting Header */
h1.text {
    font-size: 65px;
    text-align: center;
    font-weight: bold;
}

/* Formatting the text input boxes */
input {
    padding: 16px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 20%;
    border: none;
    border-bottom: 2px solid rgb(0, 163, 136);
    border-radius: 5px;
    background-color: rgb(173, 218, 179);
    transition-duration: 0.4s;
}
/* This changes formatting when the input box is clicked */
input:focus {
    background-color: rgb(190, 219, 194);
    border: none;
    border-bottom: 2px solid rgb(0, 163, 136);
}
/* Formatting ghost text in input box */
::placeholder {
    font-size: 20px;
    color: rgb(104, 104, 104);
    opacity: 0.9;
}

/* General button format */
button {
    width: 15%;
    margin-left: 42.5%;
    border: none;
    border-radius: 10px;
    background-color:rgb(192, 253, 163);
    padding: 20px 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: Arial;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover {
    background-color: white;
}

/* "Enter" button format */
button.login {
    width: 15%;
    margin-left: 42.5%;
    border: none;
    border-radius: 10px;
    background-color:rgb(166, 255, 125);
    padding: 30px 15px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-family: Arial;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button.login:hover {
    background-color: white;
}