<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../css/cardStyle.css" />
    <title>Kernel Cards</title>
  </head>
  <body>
    <!-- User inputs -->
    <div class="key">
      <input type="text" class="createCards" id="front" placeholder="Front" />
    </div>
    <div class="value">
      <input type="text" class="createCards" id="back" placeholder="Back" />
    </div>

    <br /><br /><br /><br /><br /><br />

    <div id="body">
      <button
        class="cardButton"
        type="button"
        onclick="buttonAccessById()"
        id="btn"
      >
        Display Cards
      </button>
    </div>

    <script>
      // Allows user input for "back" to be shown onclick of "Flip Card" button that is created in create-card().
      function displayCard() {
        var doc = document.getElementById("body");

        var dispB = document.createElement("div");
        dispB.setAttribute("id", "displayBack");
        dispB.textContent = document.getElementById("back").value;
        const boxB = document.getElementById("body");
        boxB.appendChild(dispB);
      }

      // Allows user input for "front" to be shown and adds a button to "flip the card".
      function create_card() {
        const dispF = document.createElement("div");
        dispF.setAttribute("id", "displayFront");
        dispF.textContent = document.getElementById("front").value;

        const boxF = document.getElementById("body");
        boxF.appendChild(dispF);

        flipCard = document.createElement("button");
        flipCard.setAttribute("onclick", "displayCard()");
        flipCard.setAttribute("class", "cardButton");
        flipCard.innerHTML = "Flip Card";
        dispF.appendChild(flipCard);
        return dispF;
      }

      /* Idk why this is here but Varalu put it there.
      Seems like an unnecessary step but ok ig lol
      We can just run create_card() onclick of Display Cards button */
      function buttonAccessById() {
        // Accessing the button element by using id attribute
        var doc = document.getElementById("body");
        ncard = create_card();
        doc.appendChild(ncard);
      }
    </script>
  </body>
</html>
