<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="../css/cardStyle.css" />
    <title>Kernel Cards</title>
  </head>
  <body>
    <img src="../images/favicon.png" alt="Kernel Logo" class="homepage-logo">
    <!-- User inputs -->
    <div class="key">
      <input type="text" class="createCards" id="front" placeholder="Front" />
    </div>
    <div class="value">
      <input type="text" class="createCards" id="back" placeholder="Back" />
    </div>

    <button >Save Card</button>
    <br /><br /><br /><br /><br /><br />

    <div id="body">
      <button
        class="cardButton"
        type="button"
        onclick="create_card()"
        id="btn"
      >
        Display Cards
      </button>

      <br>
    </div>




    <script src="../js/cards.js">
    </script>
  </body>
</html>
