<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="../css/homepageStyle.css">
    <title>Kernel Credits</title>
</head>
<body>
    <img src="../images/favicon.png" alt="Kernel Logo" class="homepage-logo">
    <h1 class="text">Credits</h1>
    <h3>This tool was built by The Dream Team</h3>
    <p>Chinmay R. (Scrum Master) <br>
        Varaprasad N. (Development Operator) <br>
        Azeem K. (Frontend Developer) <br>
        Colin M. (Backend Developer)</p>
    <h2>Other Contributions</h2>
    <p>
        <a href="https://www.w3schools.com/" target="_blank">https://www.w3schools.com/</a>
        <br>
        (provided assistance with frontend HTML & CSS coding)
        <br>
        <br>
        <a href="https://www.wikipedia.org/" target="_blank">https://www.wikipedia.org/</a>
        <br>        
        (API used in Kernel for summaries)
        <br>
        <br>
        <a href="https://pypi.org/project/Wikipedia-API/" target="_blank">Pypi.org</a>
        <br>(Assistance with Wikipedia API)
        <br>
        <br>
        <a href="https://tdt.nighthawkcodingteams.cf" target="_blank">Team Page</a></p>
        <br>
        <button type="button" class="back" onclick="window.location.href='http://127.0.0.1:5500/acedemic-organizer/index.html';" id="btn">Go back</button>
</body>
</html>