<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/dashboardStyle.css">
    <title>Kernel Dashboard</title>
</head>
<body>
    <script src="../js/addSubject.js"></script>
    <div>
        <img src="../images/favicon.png" alt="Kernel Logo" class="homepage-logo">
        <h1 class="text">Dashboard</h1>
    </div>

    <button type="button" onclick="window.location.href='cards.html';" id="btn">Start Studying</button>
</body>
</html>