<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kernel Sign In</title>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="../css/loginStyle.css">
</head>

</html>
<script>
    function change(){
        var btn = document.getElementById("pswd");
        var cng = document.getElementById("cng");
        if (btn.getAttribute("type") == "text"){
            cng.setAttribute("src", "../images/nonvisible.png");
            btn.setAttribute("type", "password");
            
            
        } else {
            cng.setAttribute("src", "../images/visible.png");
            btn.setAttribute("type", "text");
        }
        btn.focus();
    }

</script>
<!-- Page display starts here -->
<body>
    <img src="../images/favicon.png" alt="Kernel Logo" class="homepage-logo">
    <h1 class="text">Log in to Kernel</h1>
    <!-- "Form" element allows user input for username and password -->
    <form>
        <input type="text" id="usrame" name="usrname" placeholder="Username"><br><br>
        <input type="password" id="pswd" name="pswd" placeholder="Password">
    </form>
    <br>
    <!-- This binagetton is to "enter", which redirects to the "Kernel Home" page -->
    <button type="button" class="login" onclick="window.location.href='http://127.0.0.1:5500/acedemic-organizer/Templates/home.html';" id="signup">Enter</button>
    <input class="vis" type="image" src="../images/nonvisible.png" onclick="change()" alt="LMAO GET REKT :D" id="cng">
    <br>
    <p>Don't have an account?</p>
    <!-- This button is to "sign up", which redirects to the "Sign Up" page (unfinished) -->
    <button type="button" class="signUp" onclick="window.location.href='http://127.0.0.1:5500/acedemic-organizer/Templates/signup.html';" id="signup">Sign Up!</button>
</body>
</html>